@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

.shake{
  animation: horizontal-shaking 0.35s infinite;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: grey;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 3.75rem;
  background-image: url(https://images.unsplash.com/photo-1513297887119-d46091b24bfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80),
    radial-gradient(circle, rgba(0, 0, 36, 0) 10%, rgba(0, 0, 36, 0.5) 50%);
}


#mainTitle {
  margin: 0px;
  text-align: center;
}

.settings-cont {
  position: absolute;
  top: 0px;
}

.settings-cont > * {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

a:link,
a:visited {
    text-decoration: none !important;
}

#calender {
    position: relative;
    width: 80%;
    height: 80%;
    left: calc(50% - 40%);
    display: grid;
    align-items: center;
    justify-content: space-between;
    
    /* Default Layout (Landscape): 8 columns, 3 rows */
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(3, auto);
}

@media (min-aspect-ratio: 2/1) {
    #calender {
        grid-template-columns: repeat(8, auto);
        grid-template-rows: repeat(3, auto);
    }
}

/* 3. Portrait (e.g., Tablets): 4 columns x 6 rows */
@media (orientation: portrait) {
    #calender {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(6, auto);
    }
}

/* 4. Tall Portrait (e.g., Phones): 3 columns x 8 rows */
@media (max-aspect-ratio: 1/2) {
    #calender {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(8, auto);
    }
}

.daycont {
  width: 125px;
  height: 125px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.daycont>* {
  grid-area: inner-div;
  border-radius: 10px;

}

.daybackground {
  position: relative;
  width: 125px;
  height: 125px;
  background: radial-gradient(circle, rgb(73, 89, 118) 50%, rgb(62, 62, 62) 95%);
}

.day {
  cursor: pointer;
  position: relative;
  width: 125px;
  height: 125px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.5s ease, transform 0.5s ease;
  transform: perspective(800px) rotateX(0deg) rotatey(0deg);
  -webkit-transform: perspective(800px) rotateX(0deg);
  z-index: 999;
}

.noSelect{
  user-select: none;
  -webkit-user-select: none; /* Safari/iOS */
  -ms-user-select: none;     /* old Edge */
  -webkit-touch-callout: none;
}

.daycont:nth-child(even)>.day {
  background-color: red;
}



.daycont>img {
  cursor: pointer;
  position: relative;
  width: 125px;
  height: 125px;
  object-fit: cover;
  opacity: 1;
  transition: 0.75s ease;
}

.daycont>img:hover {
  filter: drop-shadow(0px 0px 16px yellow);
  transition: filter 0.5s ease, transform 0.75s ease;
}

img.taken {
  opacity: 0;
  transition: 0.75s ease;
  transform: scale(1.1);
}

.day.originup,
.day.originleft {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

.day.origindown{
  transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}

.day.originright{
  transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
}

.up {
  transform: perspective(800px) rotateX(100deg);
  -webkit-transform: perspective(800px) rotateX(100deg);
  transition: transform 0.75s ease;
}

.down {
  transform: perspective(800px) rotateX(-100deg);
  -webkit-transform: perspective(800px) rotateX(-100deg);
  transition: transform 0.75s ease;
}

.left {
  -webkit-transform: perspective(800px) rotateY(-100deg);
  transform: perspective(800px) rotateY(-100deg);
  transition: transform 0.75s ease;
}

.right {
  -webkit-transform: perspective(800px) rotateY(100deg);
  transform: perspective(800px) rotateY(100deg);
  transition: transform 0.75s ease;
}



