@font-face {
    font-family: 'Casua';
    src:url('./Casua_b.ttf');
}


/* === Generic layout for riddles that split text + image === */

.riddleContainer {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

/* Default (Landscape) layout: Text (50%) on left, Image (50%) on right */

.riddleText {
    box-sizing: border-box;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
    /* Styles for Landscape (Horiz split) */
    width: 50%;
    height: 100%;
}

.riddleRightWrapper {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.riddleWrapper{
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    /* For match and map riddles, the wrapper also takes 50% in landscape */
    width: 50%;
}


/* --- PORTRAIT / VERTICAL STYLING (Applied via @media) --- */

@media (orientation: portrait) {
    .riddleContainer {
        flex-direction: column;
    }

    .riddleText {
        /* Styles for Portrait (Vert split: Text on top, Image on bottom) */
        width: 100%;
        height: 50%;
    }

    /* Note: .riddleText.hori is still used for Wreath riddle, but .vert styles are removed */

    .riddleRightWrapper,
    .riddleWrapper {
        width: 100%;
        height: 50%;
    }
}


/* The original .riddleText.hori class for Wreath riddle (which is hardcoded in JS) */
.riddleText.hori {
    width: 100%;
    height: 50%;
    /* Override for Wreath (which is centered vertical content) */
    display: block; /* Remove flex centering for this specific case */
}

/* === Draggable/Image Containers (unaffected by orientation for now) === */

.riddleImageContainer {
    width: 100%;
    height: 100%;
}

.mapBaseImage,
.matchBaseImage {
    width: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}

.mapBaseImage {
    height: 400px;
}

.matchBaseImage {
    height: 300px;
}

.riddleImageDragContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* == Draggable pieces (used for map & matches) == */

.draggable-piece {
    position: absolute;
    width: 100px;
    height: auto;
    cursor: grab;
    user-select: none;
    touch-action: none;
}

.match-piece {
    transform-origin: 50% 50%;
}

/* === Sudoku riddle === */

/* Default (Landscape) layout: Grid on right, Text/Toolbar on left */
.sudoku-riddle {
    display: flex;
    gap: 1.5rem;
}

.sudokuLeftCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* Portrait Sudoku - Stacked layout */
@media (orientation: portrait) {
    .sudoku-riddle {
        flex-direction: column;
    }
}


/* toolbar */

.sudoku-toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
    height: min-content;
}

.sudoku-toolbar__button {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sudoku-toolbar__button--clear {
    width: auto;
    height: auto;
    background: #f5f5f5;
}

.sudoku-toolbar__button--symbol {
    width: 40px;
    height: 40px;
    padding: 0;
}

.sudoku-toolbar__button--selected {
    outline: 2px solid #0070f3;
    background-color: #e6f0ff;
}

.sudoku-toolbar__icon {
    width: 80%;
    height: 80%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

/* grid */

.sudoku-grid {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sudoku-row {
    display: flex;
}

.sudoku-cell {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #ffffff;
    cursor: pointer;
}

.sudoku-cell--fixed {
    background-color: #f0f0f0;
    cursor: default;
}

.sudoku-cell--border-top {
    border-top-width: 3px;
    border-top-color: #333;
}

.sudoku-cell--border-left {
    border-left-width: 3px;
    border-left-color: #333;
}

.sudoku-cell--border-bottom {
    border-bottom-width: 3px;
    border-bottom-color: #333;
}

.sudoku-cell--border-right {
    border-right-width: 3px;
    border-right-color: #333;
}

.sudoku-cell__icon {
    width: 80%;
    height: 80%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

.sudoku-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    pointer-events: none;
}

/* === Wreath riddle === */

.wreath-riddle {
    text-align: center;
}

.wreath-image {
    width: 90%;
    display: block;
    margin: 30px auto 0;
}

/* === Inequality riddle === */

.ineq-body {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.ineq-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
}

.ineq-row {
    display: flex;
    width: 350px;
}

.ineq-row--vertical {
    margin-bottom: 4px;
    
}

.ineq-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.ineq-input {
    width: 40px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
}

.ineq-input::-webkit-outer-spin-button,
.ineq-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ineq-input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.ineq-input.find {
    border: 2px solid red;
    pointer-events: none;
}

.ineq-sign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ineq-sign.flip{
    transform:rotate(180deg);
}

/* you can style horizontal/vertical signs differently if you want */
.ineq-sign--horizontal {
    width: 20px;
    height: 50px;
}

.ineq-sign--vertical {
    height: 20px;
    width: 50px;
    margin-right: 20px;
    font-size: 15px;
    top: 2px;
    position: relative;
}

.block {
    width: 100px;
    height: 100px;
    background-color: red;
}

.small-btn {
    background: rgba(255, 255, 255, 0.06);
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid rgba(82, 82, 82, 0.24);
    color: #363636;
    cursor: pointer;
    font-weight: 700;
}

.nikolaus-img {
    width: 90%;
}




.nikolaus-button{
    border-radius: 10px;
    color: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4a4a;
}

.nikolaus-button:nth-of-type(2) {
    background-color: rgb(56, 220, 56);
}

.nikolaus-green{
    border-radius: 2px;
    border: 1px solid rgb(15, 200, 0);
    pointer-events: none;
}

.nikolaus-green::-webkit-inner-spin-button,
.nikolaus-green::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.nikolaus-green {
  -moz-appearance: textfield;
}

.picturesRiddle_imagesCont{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.picturesRiddle_images{
    /* height: 100%; */
    object-fit: fill;
    width: 100px;
}
.picturesRiddle_images:nth-of-type(5){width: 200px;}

.picturesCell{
    width: 10px;
    border-bottom: 2px solid black;
}

.wordGridElement{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: min-content;
}

.wordRow{
    display: flex;
}

.wordLetter{
    text-align: center;
    --size: 30px;
    width: var(--size);
    height: var(--size);
    border: 1px solid black;
}

ul{
    white-space: wrap;
    text-align: start;
    margin: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 263px;
}

td:nth-child(2n){
    background-color: rgba(40, 40, 40, 0.1);
}

@media (hover: none) and (pointer: coarse) {
    .mobile-hideButton{display: none;}
}

.svgCont{
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

@media (orientation: landscape) {
    .nikolaus-img, .shape-riddle {
        width: 50%;
    }
    .egypt-riddle{
        width: 70%;
    }

    .svgCont{
        width: 75%;
    }
}

.christmasText{
    font-family: Casua;
    line-height: 1;
    margin: 0;
    padding: 0;

    overflow: hidden;
    max-width: 500px;
    margin: auto;
}